<!DOCTYPE html>
<html>

<head>
    <title>BruhNews - The Strongest News</title>

    {{>META}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="Z4K-H95bEts5-JJ9GOuWUDSz5fhLKvlg4qu5_KhLez8" />
    <meta name="keywords" content="bruhnews bruh.news bruh news strongest bruhnews.com www.bruhnews" />

    <meta name="url" content="https://bruh.news" />
    <meta name="description" content="Subscribe to bruh.news for daily updates" />
    <meta name="image" content="{{>URL}}/public/favicon.png" />
    <meta property="image" content="{{>URL}}/public/favicon.png" />
    <meta name="og:image" content="{{>URL}}/public/favicon.png" />
    <meta property="og:image" content="{{>URL}}/public/favicon.png" />
    <meta name="theme-color" content="#D80000" />
    <meta name="author" content="darcy" />

    {{>CSS name="global"}}
    {{>ICON name="favicon.png"}}

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8Y8DXGJ04S"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());
        gtag("config", "G-8Y8DXGJ04S");
    </script>
</head>

<body>
    {{> @partial-block}}

    <footer>
        <a href="{{REPO_URL}}" target="_blank">
            Repository
        </a>
        <a href="{{SALE_URL}}" target="_blank">
            Buy this domain
        </a>
    </footer>
</body>

</html>