{{#>boilerplate}}

<main>
    <h1 class="header">BruhNews - The Strongest News</h1>
    {{> list}}
</main>

<div class="modal-backdrop">
    <div class="modal">
        <h1>Notice</h1>
        <p>
            BruhNews uses cookies to improve your experience. By using our
            website, you agree to cookies
        </p>

        <button class="big" onclick="hide()">Accept Cookies</button>
        <br />
        <button onclick="hide()">Disable All Cookies</button>
    </div>
</div>

<!-- Pay no attention - this is not important! -->
<section class="video">
    <video loop id="video" preload="auto" {{video_mute}}>
        <source src="{{URL}}public/video.mp4" type="video/mp4" />
    </video>
    <script>
        document.querySelector("#video").load();
    </script>
    <img src="{{URL}}public/image.png" id="image" />
</section>


<script src="{{URL}}public/script.js" type="text/javascript"></script>

{{/boilerplate}}