<ul class="list">
    {{#each articles}}

    <li class="article">
        <a>
            <img src="{{image}}" />
            <div class="text">
                <wrap>
                    <h1>{{headline}}</h1>

                    <p>{{subtitle}}</p>
                </wrap>
            </div>
        </a>
    </li>

    {{/each}}
</ul>